
<div class="container">
    <div class="column span-24">

        <h1>@name</h1>
        Cloning: @deployTo
        <pre id="commandResult">
        </pre>
    </div>
    <hr />
    <div class="column">
        <a href="/"><< Back</a>
    </div>
</div>